<table>
    <thead>
        <tr>
            <th>N.</th>
            <th>Name</th>
            <th>Day</th>
            <th>Ideas</th>
            <th>Operations</th>
        </tr>
    </thead>

    <tbody>
        {{#each tasks}}
            <tr>
                <td>{{@index}}</td>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>{{ideas}}</td>
                <td>
                    {{#if done}}
                        <a href="/bdays/{{_id}}/toggleDone">Undone</a>
                    {{else}}
                        <a href="/bdays/{{_id}}/toggleDone">Done</a>
                    {{/if}}
                    <a href="/bdays/{{_id}}/delete">Delete</a>
                    <a href="/bdays/{{_id}}/edit">Update</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>